<%include ./partials/header%>
<div class="ui main text container">
	<div class="ui huge header">myhotel.com</div>
	<div class="ui top attatched segment">
		<div class="ui divided items">
			<%hotels.forEach(function(hotel){%>
				<div class="item">
					<div class="image">
						<img class="ui rounded image" src="<%=hotel.image%>">
					</div>

					<div class="content">
						<a class="header" href="/hotels/<%=hotel._id%>"><%=hotel.title%></a>

						<div class="meta">
							<span><%=hotel.created.toDateString() %></span>
						</div>	

						<div class="description">
							<p><%=hotel.body.substring(0,50)%>...</p>
						</div>

						<div class="extra">
							<a class="ui floated basic violet button" href="/hotels/<%=hotel._id%>">
								Read More 
								<i class="right chevron icon"></i>
							</a>
						</div>

					</div>
					
				</div>
			<%});%>			
		
			</div>
		</div>
		

</div>

<%include ./partials/footer%>